@import '../../StyleConfig.scss';

.notFound {
  max-width: 32rem;
  padding-left: 4rem;
}

.notFound-h2 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-size: 1.5rem;
  color: $color-navy;
}

.notFound-p {
  max-width: 30em;
  font-size: 0.875rem;
  line-height: 1.5;
  color: $color-text;
}
